<div class="well">
    <table class="table table-striped table-hover pmk-tag-tree">
        <thead>
            {% include "@PumukitYoutube/Admin/listth.html.twig" %}
        </thead>
        <tbody>
            {% include '@PumukitYoutube/Admin/children.html.twig' %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="8" class="foot-td">
                &nbsp;
            </th>
        </tr>
        </tfoot>
    </table>
</div>
