<div class="form-group" id="pumukit_youtube_accounts">
    <label for="youtube_label" class="control-label">{% trans %}Youtube accounts{% endtrans %}</label>
    <br />
    <div class="col-xs-6">
        <select id="youtube_label" name="youtube_label" class="form-control" required>
            <option value="" selected>{% trans %}Select and account...{% endtrans %}</option>
            {% for account in youtubeAccounts %}
                <option class="account_option" value="{{ account.getId() }}" data-href="{{ path('pumukityoutube_playlist_select', {'id' : account.getId() }) }}">{{ account.getName() }}</option>
            {% endfor %}
        </select>
        <div id="list_playlist">
            {% render(controller('PumukitYoutubeBundle:Admin:playlistAccount')) %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#youtube_label').on('change', function(event) {
        event.preventDefault();
        if($(this).val() != '') {
            $.ajax({
                url: $( "#youtube_label option:selected" ).data('href'),
                method: 'POST',
                success: function (response, textStatus, jqXHR) {
                    if (jqXHR.responseText.indexOf('modal-header') != -1) {
                        var message = '{% trans %}There aren\'t playlist for this account{% endtrans %}';
                    no_success(message);
                } else {
                    var id = $(this).val();
                    var playlist = "{{ path('pumukityoutube_playlist_select', {'id': '" + id + "' }) }}";
                    $('#list_playlist').load(playlist);

                    var message = '{% trans %}Youtube account was successfully deleted.{% endtrans %}';
                    success(message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                no_success(errorThrown + ': ' + textStatus);
            }
        });
        }
    });
</script>